header{

    height: 70px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #CCCCCC;
}

.icon{
    display: block;
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    background-position: 20px;
    height: 100%;
    padding-left: 20px;

}
